@import "../variables.scss";

.order-page {
    & .form {
        max-width: 600px;
        padding: 20px 0;

        @media only screen and (max-width: $breakpointTablet) {
            max-width: 100%;
        }
    }
}