@import './variables.scss';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    height: 100%;
}

body {
    background-color: $color-one;
    color: $color-two;
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    height: 100%;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// helper classes
.holder {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

// alignment
.align-horizontal-center {
    text-align: center;
}

.align-horizontal-right {
    text-align: right;
}

// display type
.inline-bl {
    display: inline-block;
}

// font, text and titles
.text {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;

    &.text-sm {
        font-size: 12px;
    }
}

.sub-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 20px 0 10px;

    &.sub-title-sm {
        font-size: 20px;
        padding: 0;
    }

    &.sub-title-xs {
        font-size: 14px;
        padding: 0;
    }
}

.font-bold {
    font-weight: 700;
}

// cta
.cta {
    display: inline-block;
    padding: 6px 20px;
    background: $color-eight;
    border: 1px solid $color-nine;
    outline: none;
    border-radius: 5px;
    font-weight: 700;
    color: $color-one;
    cursor: pointer;
    text-decoration: none;
    transition: $transitionFast;

    &:hover,
    &:focus {
        background: $color-nine;
    }
}

//forms
.input-element {
    width: 100%;
    padding: 10px 10px;
    background-color: $color-four;
    border: 1px solid $color-five;
    border-radius: 5px;
    outline: none;
    font-size: 14px;

    &_holder {
        padding-bottom: 20px;
    }

    &_error { color: $color-six; }
}

// global modules
#root {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 1;
}

#site-header,
#site-footer {
    background: $color-three;
    color: $color-one;
}

#site-header {
    & .sub-title { padding: 10px 0; }
}

#site-footer {
    & .text { padding: 10px 0;  }
}